body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2192px;
  height:281px;
}
#u898 {
  position:absolute;
  left:199px;
  top:0px;
  width:2192px;
  height:281px;
}
#u899 {
  position:absolute;
  left:2px;
  top:132px;
  width:2188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:256px;
}
#u900 {
  position:absolute;
  left:640px;
  top:12px;
  width:1068px;
  height:256px;
}
#u901 {
  position:absolute;
  left:2px;
  top:120px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:254px;
}
#u902 {
  position:absolute;
  left:1376px;
  top:9px;
  width:506px;
  height:254px;
}
#u903 {
  position:absolute;
  left:2px;
  top:119px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
}
#u904 {
  position:absolute;
  left:1193px;
  top:153px;
  width:79px;
  height:47px;
}
#u905 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u906 {
  position:absolute;
  left:1209px;
  top:167px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:48px;
}
#u908 {
  position:absolute;
  left:1258px;
  top:154px;
  width:81px;
  height:48px;
}
#u909 {
  position:absolute;
  left:2px;
  top:16px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
}
#u910 {
  position:absolute;
  left:1272px;
  top:164px;
  width:48px;
  height:29px;
}
#u911 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:1280px;
  top:166px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:52px;
}
#u914 {
  position:absolute;
  left:1415px;
  top:211px;
  width:467px;
  height:52px;
}
#u915 {
  position:absolute;
  left:2px;
  top:18px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:51px;
}
#u916 {
  position:absolute;
  left:1618px;
  top:211px;
  width:243px;
  height:51px;
}
#u917 {
  position:absolute;
  left:2px;
  top:18px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u918 {
  position:absolute;
  left:1668px;
  top:222px;
  width:64px;
  height:29px;
}
#u919 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:1672px;
  top:229px;
  width:57px;
  height:16px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2562px;
  height:168px;
}
#u923 {
  position:absolute;
  left:-109px;
  top:1899px;
  width:2562px;
  height:168px;
}
#u924 {
  position:absolute;
  left:2px;
  top:76px;
  width:2558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:134px;
}
#u925 {
  position:absolute;
  left:657px;
  top:1920px;
  width:1281px;
  height:134px;
}
#u926 {
  position:absolute;
  left:2px;
  top:59px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:440px;
}
#u927 {
  position:absolute;
  left:644px;
  top:390px;
  width:1230px;
  height:440px;
}
#u928 {
  position:absolute;
  left:2px;
  top:212px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:89px;
}
#u929 {
  position:absolute;
  left:644px;
  top:291px;
  width:1217px;
  height:89px;
}
#u930 {
  position:absolute;
  left:2px;
  top:36px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
}
#u932 {
  position:absolute;
  left:743px;
  top:223px;
  width:103px;
  height:21px;
}
#u933 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:747px;
  top:227px;
  width:71px;
  height:16px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u936 {
  position:absolute;
  left:747px;
  top:237px;
  width:0px;
  height:0px;
}
#u936_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u936_seg1 {
  position:absolute;
  left:-187px;
  top:-1px;
  width:191px;
  height:8px;
}
#u936_seg2 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u936_seg3 {
  position:absolute;
  left:-193px;
  top:-6px;
  width:19px;
  height:18px;
}
#u937 {
  position:absolute;
  left:-142px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u938 {
  position:absolute;
  left:307px;
  top:232px;
  width:243px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:697px;
  top:429px;
  width:0px;
  height:0px;
}
#u940_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u940_seg1 {
  position:absolute;
  left:-137px;
  top:-2px;
  width:141px;
  height:8px;
}
#u940_seg2 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u940_seg3 {
  position:absolute;
  left:-143px;
  top:-7px;
  width:19px;
  height:18px;
}
#u941 {
  position:absolute;
  left:-118px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u942 {
  position:absolute;
  left:307px;
  top:423px;
  width:243px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
