body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:506px;
}
#u2496 {
  position:absolute;
  left:229px;
  top:167px;
  width:1275px;
  height:506px;
}
#u2497 {
  position:absolute;
  left:2px;
  top:245px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:786px;
}
#u2498 {
  position:absolute;
  left:259px;
  top:683px;
  width:1256px;
  height:786px;
}
#u2499 {
  position:absolute;
  left:2px;
  top:385px;
  width:1252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1237px;
  height:354px;
}
#u2500 {
  position:absolute;
  left:250px;
  top:1479px;
  width:1237px;
  height:354px;
}
#u2501 {
  position:absolute;
  left:2px;
  top:169px;
  width:1233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1732px;
  height:64px;
}
#u2502 {
  position:absolute;
  left:0px;
  top:0px;
  width:1732px;
  height:64px;
}
#u2503 {
  position:absolute;
  left:2px;
  top:24px;
  width:1728px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
}
#u2504 {
  position:absolute;
  left:16px;
  top:13px;
  width:182px;
  height:38px;
}
#u2505 {
  position:absolute;
  left:2px;
  top:11px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u2506 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2508 {
  position:absolute;
  left:243px;
  top:18px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2509 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u2510 {
  position:absolute;
  left:229px;
  top:40px;
  width:99px;
  height:14px;
}
#u2511 {
  position:absolute;
  left:2px;
  top:-1px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1040px;
}
#u2512 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:1040px;
}
#u2513 {
  position:absolute;
  left:2px;
  top:512px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:56px;
}
#u2514 {
  position:absolute;
  left:-24px;
  top:59px;
  width:222px;
  height:56px;
}
#u2515 {
  position:absolute;
  left:2px;
  top:20px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2517 {
  position:absolute;
  left:16px;
  top:317px;
  width:20px;
  height:20px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2519 {
  position:absolute;
  left:58px;
  top:316px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2520 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2522 {
  position:absolute;
  left:16px;
  top:370px;
  width:20px;
  height:20px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2524 {
  position:absolute;
  left:58px;
  top:370px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2525 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2527 {
  position:absolute;
  left:16px;
  top:268px;
  width:21px;
  height:17px;
}
#u2528 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2529 {
  position:absolute;
  left:58px;
  top:265px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2530 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2531 {
  position:absolute;
  left:58px;
  top:77px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2532 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2533 {
  position:absolute;
  left:58px;
  top:131px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2534 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2535 {
  position:absolute;
  left:58px;
  top:173px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2536 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2537 {
  position:absolute;
  left:16px;
  top:77px;
  width:20px;
  height:20px;
}
#u2538 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2539 {
  position:absolute;
  left:58px;
  top:218px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2541 {
  position:absolute;
  left:246px;
  top:87px;
  width:118px;
  height:36px;
}
#u2542 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u2543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2543 {
  position:absolute;
  left:387px;
  top:94px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2544 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:2px;
}
#u2545 {
  position:absolute;
  left:246px;
  top:151px;
  width:1486px;
  height:1px;
}
#u2546 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1482px;
  visibility:hidden;
  word-wrap:break-word;
}
