body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2247px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2192px;
  height:281px;
}
#u4 {
  position:absolute;
  left:-21px;
  top:-2px;
  width:2192px;
  height:281px;
}
#u5 {
  position:absolute;
  left:2px;
  top:132px;
  width:2188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:256px;
}
#u6 {
  position:absolute;
  left:420px;
  top:10px;
  width:1068px;
  height:256px;
}
#u7 {
  position:absolute;
  left:2px;
  top:120px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:254px;
}
#u8 {
  position:absolute;
  left:1156px;
  top:7px;
  width:506px;
  height:254px;
}
#u9 {
  position:absolute;
  left:2px;
  top:119px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
}
#u10 {
  position:absolute;
  left:973px;
  top:151px;
  width:79px;
  height:47px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:989px;
  top:165px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:48px;
}
#u14 {
  position:absolute;
  left:1038px;
  top:152px;
  width:81px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
}
#u16 {
  position:absolute;
  left:1052px;
  top:162px;
  width:48px;
  height:29px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:1060px;
  top:164px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:52px;
}
#u20 {
  position:absolute;
  left:1195px;
  top:209px;
  width:467px;
  height:52px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:51px;
}
#u22 {
  position:absolute;
  left:1398px;
  top:209px;
  width:243px;
  height:51px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u24 {
  position:absolute;
  left:1448px;
  top:220px;
  width:64px;
  height:29px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:1452px;
  top:227px;
  width:57px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2070px;
  height:168px;
}
#u29 {
  position:absolute;
  left:198px;
  top:2130px;
  width:2070px;
  height:168px;
}
#u30 {
  position:absolute;
  left:2px;
  top:76px;
  width:2066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:134px;
}
#u31 {
  position:absolute;
  left:472px;
  top:2151px;
  width:1281px;
  height:134px;
}
#u32 {
  position:absolute;
  left:2px;
  top:59px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:374px;
}
#u33 {
  position:absolute;
  left:432px;
  top:276px;
  width:1217px;
  height:374px;
}
#u34 {
  position:absolute;
  left:2px;
  top:179px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:488px;
}
#u35 {
  position:absolute;
  left:435px;
  top:681px;
  width:870px;
  height:488px;
}
#u36 {
  position:absolute;
  left:2px;
  top:236px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:260px;
}
#u37 {
  position:absolute;
  left:1327px;
  top:673px;
  width:313px;
  height:260px;
}
#u38 {
  position:absolute;
  left:2px;
  top:122px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:414px;
}
#u39 {
  position:absolute;
  left:1326px;
  top:943px;
  width:309px;
  height:414px;
}
#u40 {
  position:absolute;
  left:2px;
  top:199px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:465px;
  top:310px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u41_seg1 {
  position:absolute;
  left:-124px;
  top:-7px;
  width:128px;
  height:8px;
}
#u41_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u41_seg3 {
  position:absolute;
  left:-130px;
  top:-12px;
  width:19px;
  height:18px;
}
#u42 {
  position:absolute;
  left:-110px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u43 {
  position:absolute;
  left:85px;
  top:296px;
  width:247px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:467px;
  top:400px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u45_seg1 {
  position:absolute;
  left:-124px;
  top:-7px;
  width:128px;
  height:8px;
}
#u45_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u45_seg3 {
  position:absolute;
  left:-130px;
  top:-12px;
  width:19px;
  height:18px;
}
#u46 {
  position:absolute;
  left:-110px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u47 {
  position:absolute;
  left:89px;
  top:384px;
  width:243px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:466px;
  top:574px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u49_seg1 {
  position:absolute;
  left:-124px;
  top:-7px;
  width:128px;
  height:8px;
}
#u49_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u49_seg3 {
  position:absolute;
  left:-130px;
  top:-12px;
  width:19px;
  height:18px;
}
#u50 {
  position:absolute;
  left:-110px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u51 {
  position:absolute;
  left:89px;
  top:554px;
  width:243px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:687px;
  top:620px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u53_seg1 {
  position:absolute;
  left:-342px;
  top:62px;
  width:346px;
  height:8px;
}
#u53_seg2 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u53_seg3 {
  position:absolute;
  left:-348px;
  top:57px;
  width:19px;
  height:18px;
}
#u54 {
  position:absolute;
  left:-188px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u55 {
  position:absolute;
  left:89px;
  top:661px;
  width:243px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1300px;
  top:328px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u57_seg1 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:451px;
  height:8px;
}
#u57_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u57_seg3 {
  position:absolute;
  left:434px;
  top:-11px;
  width:19px;
  height:18px;
}
#u58 {
  position:absolute;
  left:172px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59 {
  position:absolute;
  left:1760px;
  top:312px;
  width:342px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1301px;
  top:442px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u61_seg1 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:451px;
  height:8px;
}
#u61_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u61_seg3 {
  position:absolute;
  left:434px;
  top:-11px;
  width:19px;
  height:18px;
}
#u62 {
  position:absolute;
  left:172px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u63 {
  position:absolute;
  left:1760px;
  top:425px;
  width:342px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1584px;
  top:501px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u65_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:168px;
  height:8px;
}
#u65_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u65_seg3 {
  position:absolute;
  left:151px;
  top:-12px;
  width:19px;
  height:18px;
}
#u66 {
  position:absolute;
  left:30px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67 {
  position:absolute;
  left:1760px;
  top:489px;
  width:342px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1590px;
  top:579px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u69_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:168px;
  height:8px;
}
#u69_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u69_seg3 {
  position:absolute;
  left:151px;
  top:-12px;
  width:19px;
  height:18px;
}
#u70 {
  position:absolute;
  left:30px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u71 {
  position:absolute;
  left:1766px;
  top:567px;
  width:342px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1590px;
  top:737px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u73_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:168px;
  height:8px;
}
#u73_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u73_seg3 {
  position:absolute;
  left:151px;
  top:-12px;
  width:19px;
  height:18px;
}
#u74 {
  position:absolute;
  left:30px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u75 {
  position:absolute;
  left:1766px;
  top:725px;
  width:342px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u77 {
  position:absolute;
  left:1344px;
  top:967px;
  width:103px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:34px;
}
#u79 {
  position:absolute;
  left:1346px;
  top:961px;
  width:158px;
  height:34px;
}
#u80 {
  position:absolute;
  left:2px;
  top:9px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u81 {
  position:absolute;
  left:1789px;
  top:967px;
  width:432px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1447px;
  top:982px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:334px;
  height:8px;
}
#u83_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u83_seg2 {
  position:absolute;
  left:317px;
  top:-9px;
  width:19px;
  height:18px;
}
#u84 {
  position:absolute;
  left:115px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:466px;
  top:825px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u85_seg1 {
  position:absolute;
  left:-124px;
  top:-7px;
  width:128px;
  height:8px;
}
#u85_seg2 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u85_seg3 {
  position:absolute;
  left:-130px;
  top:-12px;
  width:19px;
  height:18px;
}
#u86 {
  position:absolute;
  left:-110px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u87 {
  position:absolute;
  left:89px;
  top:805px;
  width:243px;
  height:192px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
