body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
}
#u1970 {
  position:absolute;
  left:405px;
  top:22px;
  width:375px;
  height:47px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u1972 {
  position:absolute;
  left:413px;
  top:33px;
  width:30px;
  height:24px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1974 {
  position:absolute;
  left:695px;
  top:35px;
  width:25px;
  height:25px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1976 {
  position:absolute;
  left:743px;
  top:33px;
  width:23px;
  height:25px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1978 {
  position:absolute;
  left:453px;
  top:35px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1980 {
  position:absolute;
  left:575px;
  top:36px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1983 {
  position:absolute;
  left:405px;
  top:243px;
  width:375px;
  height:1px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1985 {
  position:absolute;
  left:405px;
  top:358px;
  width:375px;
  height:1px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:412px;
  top:257px;
  width:120px;
  height:90px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1990 {
  position:absolute;
  left:482px;
  top:311px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u1992 {
  position:absolute;
  left:542px;
  top:254px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u1993 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1994 {
  position:absolute;
  left:542px;
  top:301px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u1995 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u1996 {
  position:absolute;
  left:542px;
  top:328px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u1997 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1998 {
  position:absolute;
  left:729px;
  top:329px;
  width:41px;
  height:20px;
  font-size:12px;
  color:#FF0000;
}
#u1999 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2000 {
  position:absolute;
  left:405px;
  top:473px;
  width:375px;
  height:1px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:412px;
  top:372px;
  width:120px;
  height:90px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2005 {
  position:absolute;
  left:482px;
  top:426px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2007 {
  position:absolute;
  left:542px;
  top:369px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2008 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2009 {
  position:absolute;
  left:542px;
  top:416px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2010 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2011 {
  position:absolute;
  left:542px;
  top:443px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2012 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:412px;
  top:480px;
  width:120px;
  height:80px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2016 {
  position:absolute;
  left:542px;
  top:477px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2017 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2018 {
  position:absolute;
  left:542px;
  top:524px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2019 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2020 {
  position:absolute;
  left:598px;
  top:329px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2021 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2022 {
  position:absolute;
  left:615px;
  top:442px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2023 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2025 {
  position:absolute;
  left:412px;
  top:142px;
  width:120px;
  height:90px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:482px;
  top:196px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2029 {
  position:absolute;
  left:542px;
  top:139px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2030 {
  position:absolute;
  left:0px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2031 {
  position:absolute;
  left:542px;
  top:186px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2032 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2033 {
  position:absolute;
  left:542px;
  top:215px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2034 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2035 {
  position:absolute;
  left:601px;
  top:215px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2036 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1167px;
}
#u2037 {
  position:absolute;
  left:405px;
  top:69px;
  width:1px;
  height:1166px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:575px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1167px;
}
#u2039 {
  position:absolute;
  left:779px;
  top:69px;
  width:1px;
  height:1166px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:575px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2042 {
  position:absolute;
  left:405px;
  top:574px;
  width:375px;
  height:1px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2044 {
  position:absolute;
  left:405px;
  top:689px;
  width:375px;
  height:1px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:412px;
  top:588px;
  width:120px;
  height:90px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2049 {
  position:absolute;
  left:482px;
  top:642px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2051 {
  position:absolute;
  left:542px;
  top:585px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2052 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2053 {
  position:absolute;
  left:542px;
  top:632px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2054 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2055 {
  position:absolute;
  left:542px;
  top:659px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2056 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2057 {
  position:absolute;
  left:729px;
  top:660px;
  width:41px;
  height:20px;
  font-size:12px;
  color:#FF0000;
}
#u2058 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2059 {
  position:absolute;
  left:405px;
  top:804px;
  width:375px;
  height:1px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:412px;
  top:703px;
  width:120px;
  height:90px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2064 {
  position:absolute;
  left:482px;
  top:757px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2066 {
  position:absolute;
  left:542px;
  top:700px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2067 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2068 {
  position:absolute;
  left:542px;
  top:747px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2069 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2070 {
  position:absolute;
  left:542px;
  top:774px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2071 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  position:absolute;
  left:412px;
  top:811px;
  width:120px;
  height:80px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2075 {
  position:absolute;
  left:542px;
  top:808px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2076 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2077 {
  position:absolute;
  left:542px;
  top:855px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2078 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2079 {
  position:absolute;
  left:598px;
  top:660px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2080 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2081 {
  position:absolute;
  left:615px;
  top:773px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2082 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2084 {
  position:absolute;
  left:405px;
  top:901px;
  width:375px;
  height:1px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2086 {
  position:absolute;
  left:405px;
  top:1016px;
  width:375px;
  height:1px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2089 {
  position:absolute;
  left:412px;
  top:915px;
  width:120px;
  height:90px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2091 {
  position:absolute;
  left:482px;
  top:969px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2093 {
  position:absolute;
  left:542px;
  top:912px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2094 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2095 {
  position:absolute;
  left:542px;
  top:959px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2096 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2097 {
  position:absolute;
  left:542px;
  top:986px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2098 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2099 {
  position:absolute;
  left:729px;
  top:987px;
  width:41px;
  height:20px;
  font-size:12px;
  color:#FF0000;
}
#u2100 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2101 {
  position:absolute;
  left:405px;
  top:1131px;
  width:375px;
  height:1px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:412px;
  top:1030px;
  width:120px;
  height:90px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2106 {
  position:absolute;
  left:482px;
  top:1084px;
  width:42px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2108 {
  position:absolute;
  left:542px;
  top:1027px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2109 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2110 {
  position:absolute;
  left:542px;
  top:1074px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2111 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2112 {
  position:absolute;
  left:542px;
  top:1101px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2113 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:412px;
  top:1138px;
  width:120px;
  height:80px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6A7D8F;
}
#u2117 {
  position:absolute;
  left:542px;
  top:1135px;
  width:219px;
  height:42px;
  font-size:16px;
  color:#6A7D8F;
}
#u2118 {
  position:absolute;
  left:0px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2119 {
  position:absolute;
  left:542px;
  top:1182px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#FF0000;
}
#u2120 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2121 {
  position:absolute;
  left:598px;
  top:987px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2122 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u2123 {
  position:absolute;
  left:615px;
  top:1100px;
  width:118px;
  height:21px;
  font-size:13px;
  color:#BCBCBC;
}
#u2124 {
  position:absolute;
  left:0px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2125 {
  position:absolute;
  left:405px;
  top:1234px;
  width:375px;
  height:1px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2127 {
  position:absolute;
  left:405px;
  top:113px;
  width:375px;
  height:1px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2129 {
  position:absolute;
  left:525px;
  top:90px;
  width:20px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2130 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:32px;
}
#u2131 {
  position:absolute;
  left:592px;
  top:79px;
  width:1px;
  height:31px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2133 {
  position:absolute;
  left:651px;
  top:83px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2135 {
  position:absolute;
  left:454px;
  top:84px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2137 {
  position:absolute;
  left:720px;
  top:88px;
  width:20px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2138 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:415px;
  top:88px;
  width:0px;
  height:0px;
}
#u2139_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u2139_seg1 {
  position:absolute;
  left:-68px;
  top:1px;
  width:72px;
  height:8px;
}
#u2139_seg2 {
  position:absolute;
  left:-11px;
  top:-7px;
  width:22px;
  height:22px;
}
#u2139_seg3 {
  position:absolute;
  left:-73px;
  top:-6px;
  width:23px;
  height:22px;
}
#u2140 {
  position:absolute;
  left:-82px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2141 {
  position:absolute;
  left:141px;
  top:83px;
  width:199px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2143 {
  position:absolute;
  left:764px;
  top:91px;
  width:0px;
  height:0px;
}
#u2143_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u2143_seg1 {
  position:absolute;
  left:-7px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2143_seg2 {
  position:absolute;
  left:53px;
  top:-11px;
  width:23px;
  height:22px;
}
#u2144 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2145 {
  position:absolute;
  left:846px;
  top:81px;
  width:229px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
