body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:2px;
}
#u944 {
  position:absolute;
  left:858px;
  top:325px;
  width:895px;
  height:1px;
}
#u945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u946 {
  position:absolute;
  left:984px;
  top:291px;
  width:95px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u948 {
  position:absolute;
  left:858px;
  top:291px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u950 {
  position:absolute;
  left:654px;
  top:291px;
  width:183px;
  height:49px;
  font-size:16px;
  color:#FF0000;
}
#u951 {
  position:absolute;
  left:2px;
  top:15px;
  width:179px;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:658px;
  top:325px;
  width:0px;
  height:0px;
}
#u952_seg0 {
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u952_seg1 {
  position:absolute;
  left:-68px;
  top:-9px;
  width:72px;
  height:8px;
}
#u952_seg2 {
  position:absolute;
  left:-11px;
  top:-15px;
  width:22px;
  height:22px;
}
#u952_seg3 {
  position:absolute;
  left:-73px;
  top:-16px;
  width:23px;
  height:22px;
}
#u953 {
  position:absolute;
  left:-82px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u954 {
  position:absolute;
  left:343px;
  top:310px;
  width:195px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u956 {
  position:absolute;
  left:654px;
  top:339px;
  width:183px;
  height:49px;
  font-size:16px;
}
#u957 {
  position:absolute;
  left:2px;
  top:15px;
  width:179px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:322px;
}
#u958 {
  position:absolute;
  left:856px;
  top:336px;
  width:856px;
  height:322px;
}
#u959 {
  position:absolute;
  left:2px;
  top:153px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2192px;
  height:281px;
}
#u962 {
  position:absolute;
  left:199px;
  top:0px;
  width:2192px;
  height:281px;
}
#u963 {
  position:absolute;
  left:2px;
  top:132px;
  width:2188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:256px;
}
#u964 {
  position:absolute;
  left:640px;
  top:12px;
  width:1068px;
  height:256px;
}
#u965 {
  position:absolute;
  left:2px;
  top:120px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:254px;
}
#u966 {
  position:absolute;
  left:1376px;
  top:9px;
  width:506px;
  height:254px;
}
#u967 {
  position:absolute;
  left:2px;
  top:119px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
}
#u968 {
  position:absolute;
  left:1193px;
  top:153px;
  width:79px;
  height:47px;
}
#u969 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:1209px;
  top:167px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:48px;
}
#u972 {
  position:absolute;
  left:1258px;
  top:154px;
  width:81px;
  height:48px;
}
#u973 {
  position:absolute;
  left:2px;
  top:16px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
}
#u974 {
  position:absolute;
  left:1272px;
  top:164px;
  width:48px;
  height:29px;
}
#u975 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:1280px;
  top:166px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:52px;
}
#u978 {
  position:absolute;
  left:1415px;
  top:211px;
  width:467px;
  height:52px;
}
#u979 {
  position:absolute;
  left:2px;
  top:18px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:51px;
}
#u980 {
  position:absolute;
  left:1618px;
  top:211px;
  width:243px;
  height:51px;
}
#u981 {
  position:absolute;
  left:2px;
  top:18px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u982 {
  position:absolute;
  left:1668px;
  top:222px;
  width:64px;
  height:29px;
}
#u983 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:1672px;
  top:229px;
  width:57px;
  height:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
